@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
html{
  scroll-behavior: smooth;
  background-color:#00171F;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.boxxx{
  background-color: aliceblue;
  margin: 100px;
}
.nona{
  text-decoration: none;
}
*{
  margin: 0px;
  font-family:Montserrat;
}

.logo{
  color: white;
  font-size: 25px;
}
.menu-icon{
  display:hidden;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.bar{
  width:30px;
  height: 6px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom:4px;
}
.navbar{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right:100px ;
}
.iconbox{
  display: none;
}
.menu-one{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.flexer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu a{
  text-decoration: none;
  padding:20px;
  color: white;
}
.line{
  width:87%;
  margin: auto;
}
.title{
  width: 50%;
  height: 90vh;
  margin-left: 100px;
  position: relative;
  top: 300px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.home{
  height:100vh;
  /* background-image:
    linear-gradient(to bottom, rgba(179, 255, 0, 0), rgb(0, 0, 0) 60%),
    url('back.jpg');
    background-size:cover; */
    background-image: linear-gradient(to top, #00171F , #003459);
}
.title h1{
  font-size: 70px;
  font-weight: 600;
  font-family:Montserrat;
}
.title span{
  font-size: 70px;
  font-weight: 600;
  color: #007EA7;
  font-family:Montserrat;
}
.title h2{
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 400;
}
.clicks{
  margin-top: 50px;
  width: 100%;
  display:flex;
}
.clicks button{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border:none;
  width:100px;
  height: 40px;
  background-color:#007EA7;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border-radius: 3px;
}
.icon{
  color:white;
}
.details p{
  padding-top: 0px;
  font-family: Inter;
}
.details{
  color: rgb(255, 255, 255);
  position: relative;
  top: 100px;
  width: 700px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.highlight{
  color: #007EA7;
  font-weight: 500;
}
.highlight a{
  text-decoration: none;
  color: #007EA7;
}
.highlight:hover{
  text-decoration-line:underline;
}
.details h1{
  color: #007EA7;
  font-weight: 600;
  font-size: 30px;
}
#about{
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color:#00171F;
}
.photo img{
  border-radius:5px;
  width:350px;
  background-size: cover;
  position: relative;
  margin-top: 100px;
  height: auto;
}
.skills{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.skill-box{
  background-color: #007EA7;
  width:130px;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 3px;
}


#hide{
  display:flex;
}
.don{
  text-decoration: none;
}
.skill-head{
  font-weight:600;
  font-size: 20px;
  padding:20px;
  padding-left: 0px;
}
.sidebar{
  display: none;
}
@media only screen and (max-width: 600px) {
  #hide{
    display:none;
  }
  .menu{
    position:absolute;
    display:flex;
    height: 28vh;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.077);
    flex-direction:column;
    text-align: center;
  }
  .home{
    background-size:auto 500;
  }
  .iconbox{
    display: block;
  }
  .navbar{
    padding-left: 20px;
    padding-right: 20px;
    height: 8vh;
  }
  .menu-icon{
    display:flex;
  }
  .title{
    width:90%;
    height: 40vh;
    margin-left: 20px;
    position: relative;
    top: 250px;
  }
  .title h1{
    font-size:20px;
    font-weight: 450;
  }
  .title h2{
    font-size:20px;
  }
  .title span{
    font-size:35px;
  }
  #about{
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    display:block;
    justify-content: center;
    justify-content:space-between;
    padding-bottom: 100px;
    
  }
  
  .details{
    display: block;
    width:100%;
    padding-bottom:20px;
  }
  .details p{
    font-size: 15px;
    padding-top: 20px;
  }
  .details{
    height: 250;
  }
  .skills{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
  }
  .skill-box{
      background-color: #007EA7;
      color: rgb(255, 255, 255);
      width:100%;
      display:flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      font-size:13px;
      font-weight: 500;
      border-radius:3px;
  }
  #about{
    margin-top: 0px;
    height:230vh;
    padding-top: 10px;
  }
  .home{
    height:100vh;
  }
  .photo img{
    padding-top: 0px;
    width:100%;
    margin-right: auto;
    margin-left: auto;
  }
  .menu a:hover{
    background-color: #00a9e13a;
    color: #ffffff;
  }
  .sidebar {
    width: 30px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #00b1ec7a;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 35%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 5px 0px 0px 5px;
    
  }
  
  .sidebar a {
    margin: 10px 0;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    color: #000;
  }
}



/* Hpvering baaar */
button:hover{
  background-color: #00A7E1;
}
.skill-box:hover{
  background-color: #00A7E1;
}
.menu a:hover{
  color: #00A7E1;
  font-weight: 400;
}